@charset "UTF-8";

body {
	background-color: white;
}

.outline {
	background-color: white;
	padding: 15px;
	border: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}



th {
	text-align: Left;
}

.addNewButton {
	background-color: green;
	border: 0px;
}
.addNewButton:hover {
	background-color: darkgreen;
	border:0px;
}